@import "tailwindcss";
@import "tw-animate-css";

:root{
  --primary: #879daa;
  --primary-foreground: #e1fec9;
  --secondary: #212121;
  --secondary-foreground: #fafafa;
  --background: #171717;
  --muted: #282828;
  --point_1: #A7BED3;
  --point_2: #C6E2E9;
  --point_3: #F1FFC4;
  --point_4: #D0E3F2;
  --point_5: #FFCAAF;
  --point_6: #DAB894;
}