@import "tailwindcss";
@import "tw-animate-css";

:root{
  --ghost_white: #f6f5fa;
  --eeire_black: #212121;
  --honeydew: #cfdeca;
  --vanila: #eff0a3;
  --alice_blue: #d8dfe9;
  --muted: #282828;
  --point_1: #A7BED3;
  --point_2: #C6E2E9;
  --point_3: #F1FFC4;
  --point_4: #D0E3F2;
  --point_5: #FFCAAF;
  --point_6: #DAB894;
}